html {
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: #333;
}

#homeSection {
    background-color: #333; 
    position: relative; 
    z-index: 1; 
    overflow: hidden; 
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: #fd7a00 solid 2px;
}

h2, h1 {
    color: #fd7a00;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 0;
}

h2 {
    text-transform: uppercase;
}

#condition {
    color: white;
    font-size: 1.5rem;
}

#iconMainContainer {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    z-index: -1;
    opacity: 0.6;

    /* Animation here */

    animation-name: slide-left-right;
    animation-duration: 32s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

    /* ---- Animation css left-right infiny ---- */

@keyframes slide-left-right {
    0%, 100% {
        transform: translateX(-20%);
    }
    50% {
        transform: translateX(0%);
    }
}

.iconContainers {
    display: grid;
    gap: 0rem 4rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);

}

.backgroundIcon {
    transition: 1s;

    /* ---- Parallax from Js ---- */

    --parallax-translate-x: 0;
    --parallax-translate-y: 0;
    transform: translateX(var(--parallax-translate-x)) translateY(var(--parallax-translate-y));
}

.backgroundIcon:nth-child(odd) {
    width: 64px;
}
.backgroundIcon:nth-child(even) {
    width: 48px;
}


    /* ---- Icons arrangement ---- */

    /* rows */

.backgroundIcon:nth-child(1), .backgroundIcon:nth-child(2), .backgroundIcon:nth-child(3), .backgroundIcon:nth-child(16) {
    grid-row: 1/6;
}

.backgroundIcon:nth-child(4), .backgroundIcon:nth-child(5) {
    grid-row: 2/6;
}

.backgroundIcon:nth-child(6), .backgroundIcon:nth-child(7), .backgroundIcon:nth-child(8) {
    grid-row: 3/6;
}

.backgroundIcon:nth-child(15), .backgroundIcon:nth-child(17){
    grid-row: 4/6;
}

.backgroundIcon:nth-child(10), .backgroundIcon:nth-child(11), .backgroundIcon:nth-child(9) {
    grid-row: 5/6;
}

.backgroundIcon:nth-child(13), .backgroundIcon:nth-child(14), .backgroundIcon:nth-child(18), .backgroundIcon:nth-child(12) {
    grid-row: 6/6;
}

    /* columns */

.backgroundIcon:nth-child(1) {
    grid-column: 2/12;
}

.backgroundIcon:nth-child(6) {
    grid-column: 1/12;
}

.backgroundIcon:nth-child(15) {
    grid-column: 4/12;
}

.backgroundIcon:nth-child(10) {
    grid-column: 2/12;
}

.backgroundIcon:nth-child(8) {
    grid-column: 11/12;
}

.backgroundIcon:nth-child(4), .backgroundIcon:nth-child(13) {
    grid-column: 4/12;
}

.backgroundIcon:nth-child(14) {
    grid-column: 12/12;
}

.backgroundIcon:nth-child(2), .backgroundIcon:nth-child(11) {
    grid-column: 6/12;
}

.backgroundIcon:nth-child(5) {
    grid-column: 9/12;
}

.backgroundIcon:nth-child(7) {
    grid-column: 7/12;
}

.backgroundIcon:nth-child(9) {
    grid-column: 10/12;
}

.backgroundIcon:nth-child(3) {
    grid-column: 11/12;
}

.backgroundIcon:nth-child(12) {
    grid-column: 12/12;
}

.backgroundIcon:nth-child(14) {
    grid-column: 8/12;
}

header {
    background-color: #333;
    position: relative;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    border-bottom: #fd7a00 solid 2px;
    align-items: center;
}

#logo {
    width: 64px;
    align-self: start;
    margin-bottom: 1.5rem;
}

#burgerMenuMainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#burgerMenuOpenerContainer {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}    

.bgMenuBar {
    margin: 0.5rem;
    width: 32px;
    height: 3px;
    border-radius: 1rem;
    background-color: white;
}
    
#burgerMenuContentContainer {
    display: grid;
    gap: 1rem;
    align-self: end;
    position: absolute;
    top: 0;
    right: -600px;
    width: fit-content;
    overflow: hidden;
    background-color: #333;
    border-left: solid #ffa149 2px;
    border-bottom: solid #ffa149 2px;
    z-index: 3000;
    transition: 0.6s; 
}

#myLink {
    margin-bottom: 1rem;
    padding: 1rem;
    text-align: center;
    color: #ffa149;
}

a {
    text-decoration: none;
    color: #ff7b00;
}

#closeBurgerMenu {
    color: #ff7b00;
    font-weight: bolder;
    font-size: 2.5rem;
    justify-self: end;
    margin: 1rem 1rem 0 0;
    font-family: 'Courier New', Courier, monospace;
}

#contactIconsContainer {
    display: flex;
    margin: 0 auto;
}

.externLink {
    display: flex;
    place-content: center;
    margin: 1rem 0.5rem;
    background-color: #ff7b00;
    border-bottom: solid 2px black;
    border-right: solid 2px black;
    height: fit-content;
    width: fit-content;
    padding: 0.25rem;
    border-radius: 100%;
}
                    
.externLinkIcons {
    width: 24px;
    padding: 0;
    margin: 0;
}
    
.hideBurgerMenu {
    right: 0px !important;
    transition: 0.6s;
}

#btnContainer {
    text-align: center;
    margin: 2rem 0;
}

#disableParallaxBtn {
    text-transform: uppercase;
    padding: 0.5rem;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    border: none;
    background-color: black;
    color: white;
    border-radius: 0.25rem;
    border-right: #fd7a00 solid 4px;
    border-bottom: #fd7a00 solid 4px;
}

#parallaxStateMessage {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 2rem;
    color: white;
    text-decoration: underline;
    font-weight: bolder;
    text-transform: uppercase;
}


/* ---- Responsive rules ---- */
                
/* Smartphone @media querie */

@media only screen and (max-width: 767px) {
    .disableIconContainerForSmartphone  {
        display: none !important;
    }

    header {
        flex-direction: column;
    }

    h1 {
        font-size: 1rem;
        margin-bottom: 2rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    #disableParallaxBtn {
        font-size: 1.5rem;
    }
    
    #parallaxStateMessage {
        font-size: 1rem;
    }
}

    /* Ipad @media querie */
        
@media only screen and (min-width: 768px) {
    .disableIconContainerForIpad {
        display: none !important;
    }

    h1 {
        font-size: 1.25rem;
        margin: 0 4rem;
    }

    h2 {
        font-size: 2.25rem;
    }

    #disableParallaxBtn {
        font-size: 1.75rem;
    }
    
    #parallaxStateMessage {
        font-size: 1.5rem;
    }
}

    /* Computer @media querie */
        
@media only screen and (min-width: 1024px) {
    .hoveredBackgroundIcon {
        transform: scale(1.5);
    }

    #burgerMenuOpenerContainer {
        display: none;
    }   

    h2 {
        font-size: 4rem;
    }

    h1 {
        font-size: 1.75rem;
    }

    #burgerMenuContentContainer {
        display: flex;
        place-items: center;
        grid-template-rows: inherit;
        position: inherit;
        top: inherit;
        right: inherit;
        border: inherit;
        height: inherit;
        gap: 0 2rem;
    }

    #myLink {
        margin-bottom: 0;
        padding: 0;
    }

    #closeBurgerMenu {
        display: none;
    }

    .externLink {
        width: 32px;
    }

    .externLink:hover {
        border-bottom: solid 2px white;
        border-right: solid 2px white;
    }

    .externLinkIcons {
        width: 32px;
    }

    #disableParallaxBtn:hover {
        cursor: pointer;
    }
}

    /* Large computer @media querie */
        
@media only screen and (min-width: 1444px) {
    #logo {
        margin-bottom: 0;
    }
}

